<main class="main-container">
  <section class="section hero-section">
    <div class="content-left">
      <h1 class="heading">Lets Plant For The Future</h1>
      <p class="description">
        Trees are most essential part of the planet <br />
        Better forest results in better future <br />Let's plat trees for the
        future
      </p>
      <br />
      <button class="btn btn-primary">Plant a Tree</button>
      <br />
      <br />
      <br />
      <br />
      <div class="hilights">
        <article class="hilight">
          <img
            src="../../../assets/images/landing/High-light-1.png"
            alt="Saplings"
            class="hilight-img"
          />
          <h3 class="hilight-title">36,425</h3>
          <h4 class="hilight-subtitle">Saplings</h4>
          <p class="hilight-description">
            Saplings planted to create desnse miyawaki forest
          </p>
        </article>
        <article class="hilight">
          <img
            src="../../../assets/images/landing/High-light-2.png"
            alt="forest"
            class="hilight-img"
          />
          <h3 class="hilight-title">36,425</h3>
          <h4 class="hilight-subtitle">Saplings</h4>
          <p class="hilight-description">
            Saplings planted to create desnse miyawaki forest
          </p>
        </article>
      </div>
    </div>
    <div class="content-right">
      <img
        src="../../../assets/images/landing/hero-image.jpg"
        alt="Planting trees"
        class="hero-img"
      />
    </div>
  </section>
  <section class="process-section">
    <h2 class="section-heading">How it works</h2>
    <div class="process-container">
      <div class="content">
        <div class="process-content">
          <h3 class="title">Tree Planting</h3>
          <p class="description">
            The shore hat group would some how form a family all trouble
          </p>
        </div>
        <div class="process-content">
          <h3 class="title">Tree Planting</h3>
          <p class="description">
            The shore hat group would some how form a family all trouble
          </p>
        </div>
      </div>
      <img
        src="../../../assets/images/landing/Plant.png"
        alt=""
        class="process-img"
      />
      <div class="content">
        <div class="process-content">
          <h3 class="title">Tree Planting</h3>
          <p class="description">
            The shore hat group would some how form a family all trouble
          </p>
        </div>
        <div class="process-content">
          <h3 class="title">Tree Planting</h3>
          <p class="description">
            The shore hat group would some how form a family all trouble
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="work-section">
    <h2 class="section-heading">Recent Work</h2>
    <br />
    <br />
    <div class="work-list">
      <article class="card work-card">
        <img
          src="../../../assets/images/landing/planting-image.png"
          alt="Recent Work"
          class="work-img"
        />
        <div class="card-body">
          <div class="header">
            <p class="stats">Dec 8, 2012</p>
            <p class="stats">By: Robert</p>
          </div>
          <h3 class="card-title">Tree Planting</h3>
          <p class="card-description">
            Everyone loves to spend time outside with friends and family but as
            the temperature begins to dip no one wants to stand out in the
            freezing cold.
          </p>
          <button class="btn btn-primary">Read More</button>
        </div>
      </article>
      <article class="card work-card">
        <img
          src="../../../assets/images/landing/planting-image.png"
          alt="Recent Work"
          class="work-img"
        />
        <div class="card-body">
          <div class="header">
            <p class="stats">Dec 8, 2012</p>
            <p class="stats">By: Robert</p>
          </div>
          <h3 class="card-title">Tree Planting</h3>
          <p class="card-description">
            Everyone loves to spend time outside with friends and family but as
            the temperature begins to dip no one wants to stand out in the
            freezing cold.
          </p>
          <button class="btn btn-primary">Read More</button>
        </div>
      </article>
    </div>
  </section>
  <section class="contact-section">
    <div class="contact-container">
      <div class="content-left">
        <img
          src="../../../assets/images/landing/contactus.png"
          alt=""
          class="contact-img"
        />
      </div>
      <div class="content-right">
        <h2 class="section-heading">Contact Us</h2>
        <form class="contact-form" action="">
          <!-- <div class="split"> -->
          <label class="from-field" for="name">
            <input
              required
              type="text"
              name="name"
              placeholder="Enter Your Name"
            />
            <span class="label">Name</span>
          </label>
          <label class="from-field" for="email">
            <input
              required
              type="email"
              name="email"
              placeholder="Enter Email Address"
            />
            <span class="label">Email</span>
          </label>
          <!-- </div> -->
          <label class="from-field" for="email">
            <input
              required
              type="email"
              name="email"
              placeholder="Enter Email Address"
            />
            <span class="label">Email</span>
          </label>
          <!-- </div> -->
          <br />
          <label class="text-field" for="message">
            <div class="text-area">
              <textarea
                required
                name="message"
                id="message"
                cols="30"
                rows="10"
                placeholder="Enter the Message"
              ></textarea>
              <span class="label">Message</span>
            </div>
          </label>
          <br />
          <button class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </section>
  <section class="blog-section">
    <h2 class="section-heading">Blogs</h2>
    <div class="blog-list">
      <article class="card blog-card">
        <img
          src="../../../assets/images/landing/blog.png"
          alt=""
          class="blog-img"
        />
        <div class="card-body">
          <div class="header">
            <p class="stats">Dec 8, 2012</p>
            <p class="stats">By: Robert</p>
          </div>
          <h3 class="card-title">Tree Planting</h3>
          <p class="card-description">
            The shore hat group would some how form a family all trouble
          </p>
        </div>
      </article>
      <article class="card blog-card">
        <img
          src="../../../assets/images/landing/blog.png"
          alt=""
          class="blog-img"
        />
        <div class="card-body">
          <div class="header">
            <p class="stats">Dec 8, 2012</p>
            <p class="stats">By: Robert</p>
          </div>
          <h3 class="card-title">Tree Planting</h3>
          <p class="card-description">
            The shore hat group would some how form a family all trouble
          </p>
        </div>
      </article>
      <article class="card blog-card">
        <img
          src="../../../assets/images/landing/blog.png"
          alt=""
          class="blog-img"
        />
        <div class="card-body">
          <div class="header">
            <p class="stats">Dec 8, 2012</p>
            <p class="stats">By: Robert</p>
          </div>
          <h3 class="card-title">Tree Planting</h3>
          <p class="card-description">
            The shore hat group would some how form a family all trouble
          </p>
        </div>
      </article>
      <article class="card blog-card">
        <img
          src="../../../assets/images/landing/blog.png"
          alt=""
          class="blog-img"
        />
        <div class="card-body">
          <div class="header">
            <p class="stats">Dec 8, 2012</p>
            <p class="stats">By: Robert</p>
          </div>
          <h3 class="card-title">Tree Planting</h3>
          <p class="card-description">
            The shore hat group would some how form a family all trouble
          </p>
        </div>
      </article>
    </div>
  </section>
  <br /><br />
</main>
