<main class="main-container registor-container">
  <img
    class="floa-img"
    src="../../../assets/images/landing/leaf.svg"
    alt="Leaf"
  />
  <form class="form registor-form">
    <h2 class="heading">Get New Account</h2>
    <p class="description">Enter your details</p>
    <label class="from-field" for="name">
      <input required type="name" name="name" placeholder="Enter Your Name" />
      <span class="label">Name</span>
    </label>
    <label class="from-field" for="DOB">
      <input required type="date" name="DOB" placeholder="Enter Your DOB" />
      <span class="label">Date of Birth</span>
    </label>
    <label class="from-field" for="phone">
      <input
        required
        type="number"
        name="phone"
        placeholder="Enter your Mobile Number"
      />
      <span class="label">Mobile Number</span>
    </label>
    <label class="from-field" for="email">
      <input
        required
        type="email"
        name="email"
        placeholder="Enter your Email Address"
      />
      <span class="label">Email Address</span>
    </label>
    <br /><br />
    <button class="btn btn-primary">Submit</button>
  </form>
</main>
