<button
  class="btn btn-primary btn-txt"
  routerLink="home"
  routerLinkActive="active"
>
  <i class="fa-solid fa-house icon"></i>
  <h3 class="lable">Home</h3>
</button>
<button
  class="btn btn-primary btn-txt"
  routerLink="plants"
  routerLinkActive="active"
>
  <i class="fa-solid fa-leaf icon"></i>
  <h3 class="lable">Plants</h3>
</button>
<button
  class="btn btn-primary btn-txt aboutus-nav"
  routerLink="aboutus"
  routerLinkActive="active"
>
  <i class="fa-solid fa-user icon"></i>
  <h3 class="lable">Aboutus</h3>
</button>
<button
  class="btn btn-primary btn-txt"
  routerLink="profile"
  routerLinkActive="active"
>
  <i class="fa-solid fa-user icon"></i>
  <h3 class="lable">Profile</h3>
</button>
<button
  class="btn btn-primary btn-txt login"
  routerLink="login"
  routerLinkActive="active"
>
  <h3 class="lable">Login</h3>
</button>
