<main class="main-container">
  <form class="form registor-form">
    <h2 class="heading">Sponser Details</h2>
    <label class="from-field" for="name">
      <input
        required
        type="name"
        name="name"
        placeholder="Enter Sponser Name"
      />
      <span class="label">Sponser Name</span>
    </label>
    <label class="from-field" for="email">
      <input
        required
        type="email"
        name="email"
        placeholder="Enter Sponser Email"
      />
      <span class="label">Sponser Email</span>
    </label>
    <label class="from-field" for="phone">
      <input
        required
        type="number"
        name="phone"
        placeholder="Enter your Mobile Number"
      />
      <span class="label">Mobile Number</span>
    </label>
    <div class="description">Add More Sponsers Details!</div>
    <div class="split">
      <button class="btn btn-primary">Remove</button>
      <div class="spacer"></div>
      <button class="btn btn-primary">Add</button>
    </div>
    <button class="btn btn-primary">Continue</button>
  </form>
</main>
