.aboutus-container {
  margin: auto 30%;

  .heading {
    text-align: center;
    font-size: 2.2rem;
    line-height: 2.4rem;
  }

  .vision-card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 2px 4px #afafaf;
    .line {
      width: 40%;
      height: 5px;
      background-color: var(--primary-color);
      margin: 10px 0px;
    }
    .description {
      font-size: 1.2rem;
      line-height: 1.6rem;
      color: grey;
    }
  }

  .team-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .team-card {
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .avatar {
      margin: auto;
      height: 150px;
      width: 150px;
      border-radius: 100px;
      background-color: orange;
    }

    .card-title {
      text-align: center;
      font-size: 1.2rem;
      line-height: 1.3rem;
      font-weight: bold;
      color: #3a3a3a;
    }

    .card-sub-title {
      text-align: center;
      font-size: 1rem;
      font-weight: 400;
      color: #707070;
    }
  }
}

// Tablet Layout
@media screen and (min-width: $mobile-width) and (max-width: $tablet-width) {
  .aboutus-container {
    margin: auto 5% !important;
  }
}

// Moblie Layout
@media screen and (max-width: $mobile-width) {
  .aboutus-container {
    margin: auto 5% !important;

    .team-card {
      padding: 5px !important;

      .avatar {
        height: 130px !important;
        width: 130px !important;
      }
    }
  }
}
